<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Blue Screen Simulator Plus"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlueScreenSimulatorPlus"
        tools:targetApi="31">
        <activity
            android:name=".BOOTMGR"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_bootmgr"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BlueScreenSimulatorPlus.NoActionBar" />
        <activity
            android:name=".ErrorCodeEditor"
            android:exported="false"
            android:label="@string/title_activity_error_code_editor"
            android:theme="@style/Theme.BlueScreenSimulatorPlus.NoActionBar" />
        <activity
            android:name=".NTCodeEdit"
            android:exported="false"
            android:label="@string/title_activity_ntcode_edit"
            android:theme="@style/Theme.BlueScreenSimulatorPlus.NoActionBar" />
        <activity
            android:name=".CodeEdit"
            android:exported="false"
            android:label="@string/title_activity_code_edit"
            android:theme="@style/Theme.BlueScreenSimulatorPlus.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".LegacyBSOD"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BlueScreenSimulatorPlus.NoActionBar" />
        <activity
            android:name=".devTextDisplay"
            android:exported="false" />
        <activity
            android:name=".StringEdit"
            android:exported="false"
            android:theme="@style/Theme.BlueScreenSimulatorPlus.NoActionBar" />
        <activity
            android:name=".ModernBSOD"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.BlueScreenSimulatorPlus.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BlueScreenSimulatorPlus.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>